#friends-display-link {
    display:block;
    text-align: center;
    background-color: #fafafa;
    padding: 15px;
    font-size: 15px;
}

#friends-display-link i {
    opacity: 0.3;
}


.friends-screen__channel-header{
    background-color: #fafafa;
    height: 36px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 2px rgba(0,0,0, 0.2);
    color:rgba(0,0,0, 0.5);
}


.friends-screen__channel-header span {
padding: 30px;
}
.friends-screen__channel-header i {
    padding: 30px;
}

@keyframes hideSplashScreen {
    0% {
      opacity: 1;
    }
    50% {
        opacity: 0.5;
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
      opacity: 0;
      visibility: hidden;
    }
  }

#splash-screen {
    background-color: var(--mild-fur);
    position: absolute;
    height:100vh;
    width:100vw;
    top:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: var(--fur);
    font-weight: bold;
    animation: hideSplashScreen 0.3s ease-in-out forwards;
    animation-delay: 2s;
}
#splash-screen img {
    margin-top: 30px;
    width: 130px;
    height: 130px;

}
